<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="modal__form form-change-password">

  <div class="group">
    <input trim
           name="password"
           type="password"
           formControlName="password"
           appPassword
           appPasswordClass="password-control">
    <label>{{'forms.password' | translate}}</label>

    <div *ngIf="submitted && f.password.errors" class="error-bl">
      <div *ngIf="f.password.errors.required">{{'forms.required_to_fill' | translate}}</div>
      <div *ngIf="f.password.errors.minlength">
        {{'forms.too_short' | translate: {value: f.password.errors.minlength.requiredLength} }}
      </div>
    </div>

    <div *ngFor="let error_value of errors['password']" class="error-bl">{{ error_value }}</div>
  </div>



  <button [disabled]="loading"
          type="submit"
          class="forms-common__button button-large">
    {{'buttons.change_password' | translate}}
  </button>

</form>
