@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_utils.scss";
@import "src/assets/scss/styles";


.profile-document {
  height: 100%;
  padding: 24px 16px;
  background-color: $background-secondary;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &__header {
    @extend .header4;
    color: $text-primary;
    flex-grow: 0;
  }

  &__image {
    float: left;
    margin-right: 16px;
    width: 24px;
    height: 24px;
  }

  &__text {
    margin-top: 16px;
    @extend .body2;
    color: $text-secondary;
    flex-grow: 1;
  }

  &__upload {
    margin-top: 24px;
    margin-bottom: 16px;
    display: inline-block;
    @extend .button-mini;
    width: 100%;
    text-align: center;
    flex-grow: 0;
  }

  &__types {
    @extend .body2;
    color: $text-secondary;
    text-align: center;
    flex-grow: 0;
  }
}

