@import "src/assets/scss/_utils.scss";
@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_styles.scss";

.wallet-withdrawal-form {

  &__limit {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #75737E;
    text-align: center;
    text-transform: lowercase;
    max-width: 98px;

    @media (min-width: $mobile-layout) {
      max-width: 148px;
    }
  }

  &_flex {
    display: flex !important;
    align-items: center !important;
  }

  &__inputs {
    background-color: $background-secondary;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
  }

  &__inputs > .group {
    margin-top: 8px;
    @media (min-width: $mobile-layout) {
      width: 344px;
    }
  }

  &__header {
    @extend .header3;
    color: $text-primary;
  }

  &__subheader {
    @extend .subheader1;
    color: $text-primary;
    margin-top: 24px;
  }

  &__field-header {
    @extend .subheader1;
    color: $text-primary;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__tip {
    @extend .caption;
    color: $text-secondary;
    margin-top: 8px;
  }

  &__tip + .group {
    margin-top: 16px;
  }

  &__accounts {
    @include noscroll;
    display: flex;
    gap: 8px;
    margin-top: 16px;
    width: 100%;
    overflow: scroll;
  }

  &__account {
    flex-grow: 10;
    background-color: $background-tertiary;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;

    &_selected {
      border: 2px solid #00AB55;
    }

    @media (min-width: $mobile-layout) {
      flex-grow: 0;
      width: 180px;
    }
  }

  &__account-currency {
    @extend .subheader1;
    color: $text-primary;
  }

  &__account-amount {
    @extend .body2;
    color: $text-primary;
  }

  &__payment-providers {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: $mobile-layout) {
      justify-content: flex-start;
    }
    gap: 8px 8px;
  }

  &__provider {
    width: 98px;
    height: 80px;
    flex-basis: 30%;
    flex-grow: 5;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &_selected {
      border: 2px solid #00AB55;
    }

    @media (min-width: $mobile-layout) {
      flex-grow: 0;
      flex-basis: auto;
      width: 148px;
    }

    padding: 30px 18px;
    background-color: $background-tertiary;
    border-radius: 8px;
  }

  &__account-field.group {
    margin-top: 0;
    width: 100%;
    @media (min-width: $mobile-layout) {
      width: 344px;
    }
  }

  &__expiration-fields {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    @media (min-width: $mobile-layout) {
      width: 344px;
    }
  }

  &__expiration-fields > .group {
    margin-top: 0;
    width: 100%;
  }

  &__expiration-delimiter {
    @extend .subheader1;
    color: $text-primary;
    margin-top: 16px;
  }
}
