<div class="bonus-item"
      (click)="openModalPlayerFsBonus(bonus, showButtons)"> 

  <img class="bonus-item__image" *ngIf="bonus.image" 
        src="{{getImagePatch(bonus.image)}}" (error)="errorHandler($event)" alt="bonus">
  <img class="bonus-item__image" *ngIf="!bonus.image" 
        src="{{getGameImagePatch(bonus.game_id)}}" (error)="errorHandler($event)" alt="bonus">

  <div class="bonus-item__content">

    <div class="bonus-item__content-box">

      <div class="bonus-item__header">
        <div *ngIf="!bonus.title_in_locale" [innerHTML]="bonus.title"></div>
        <div *ngIf="bonus.title_in_locale" [innerHTML]="bonus.title_in_locale"></div>
      </div>

    </div>

  </div>
</div>
