@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_utils.scss";
@import "src/assets/scss/styles";

.footer {
  position: relative;
  margin-top: 48px;
  padding-top: 50px;
  border-top: 1px solid $divider-divider;
  display: flex;
  flex-direction: row;

  @include media($desktop-layout) {
    flex-direction: column;
  }

  &__legal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 95%;
    span {
      @media (max-width: 1200px) {
        margin-top: 8px;
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: 959px) {
      max-width: 100%;
    }
  }

  &__legal, &__contacts {
    color: #919EAB;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
  }

  &__logo {
    @include imgBg('kaktuz.svg');
    width: 108px;
    height: 24px;
    top: 32px;
    left: 40px;
    position: absolute;

    @media (max-width: 1200px) {
      left: 16px;
    }
  }

  &__top {
    flex-grow: 10;
    padding-left: 40px;
    padding-right: 16px;

    @media (max-width: 1200px) {
      padding-left: 16px;
    }
  }

  &__links {
    display: flex;

    &-game, &-info {
      flex: 1;
    }
  }

  &__title {
    @extend .subheader1;
    color: $text-primary;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    @media (max-width: 1200px) {
      flex-direction: column !important;
    }
    flex-direction: row;
  }

  &__list-part {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__list-item {
    @extend .body2;
    color: $text-link;
    margin-top: 12px;
  }

  &__bottom {
    flex-grow: 1;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
  }

  &__link {
    @extend .body2;
    color: $text-primary;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  &__link-image {
    display: inline-block;
    margin-right: 16px;
    width: 24px;
    height: 24px;

    &_support {
      @include imgBg('icons/support.svg');
    }

    &_partners {
      @include imgBg('icons/partners.svg');
    }

    &_promocodes {
      @include imgBg('icons/promocodes.svg');
    }
  }

  &__link-text {
    display: inline;
  }

  &__link-details {
    color: $text-link;
    text-decoration: none;
  }

  &__info {
    margin-top: 32px;
    margin-bottom: 72px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 1200px) {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 16px;
      gap: 0;
    }

    @media (max-width: 959px) and (min-width: 561px) {
      margin-bottom: 52px;
    }

    @media (max-width: 561px) {
      margin-bottom: 0;
    }

    @media all and (display-mode: standalone) {
      padding-bottom: 20px !important;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1200px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &__legal-text {
    @extend .body2;
    color: $text-secondary;
  }

  &__legal-text+&__legal-text {
    margin-top: 4px;
  }

  &__logotypes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    margin-left: 56px;
    @include media($desktop-layout) {
      margin-bottom: 32px;
    }
    @media (max-width: 1200px) {
      margin-top: 32px;
      margin-bottom: 24px;
      margin-left: 0;
    }
  }

  &__logotype-images {
    display: flex;
    // flex-wrap: wrap;
    gap: 24px;
    row-gap: 16px;
    padding-top: 4px;
    @include media($mobile-layout) {
      flex-wrap: wrap;
    }
  }

  &__logotype-gioco_responsabile {
    @include imgBg('icons/footer/gioco_responsabile.svg');
    width: 58px;
    height: 24px;
  }

  &__logotype-mc_securecode {
    @include imgBg('icons/footer/mc_securecode.svg');
    width: 78px;
    height: 24px;
  }

  &__logotype-noda {
    @include imgBg('icons/footer/noda.svg');
    width: 87px;
    height: 24px;
  }

  &__logotype-pci {
    @include imgBg('icons/footer/pci.svg');
    width: 52px;
    height: 20px;
  }

  &__logotype-visa_verified_white {
    @include imgBg('icons/footer/visa_verified_white.svg');
    width: 49px;
    height: 24px;
  }

  &__logotype-tls {
    @include imgBg('icons/footer/tls.svg');
    width: 47px;
    height: 24px;
  }

  &__18 {
    @include imgBg('icons/footer/18.svg');
    width: 34px;
    height: 34px;
    flex-shrink: 0;
  }

  &__divider-mobile {
    margin-top: 16px;
  }

  &__divider-desktop {
    margin-top: 32px;
  }
}
