@import "src/assets/scss/_utils.scss";
@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_styles.scss";

.modal-forgot-password__register {
  @extend .body2;
  margin-top: 24px;
  color: $text-primary;
  text-align: center;

  a {
    color: $text-link !important;
  }
}
