@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_styles.scss";

.form-login {

  &__remember-forget {
    @extend .body2;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

    .forgot-password {
      color: $text-link;
    }
  }
}
