@import "src/assets/scss/_utils.scss";

.home_page {

  &__content {
    padding: 0 16px 0;
    @include breakpoint(laptop) {
      padding: 40px 24px 0;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__header {
    display: block;
    margin-top: 40px;
    margin-bottom: 16px;
    @include breakpoint(laptop) {
      margin-bottom: 24px;
    }
  }

  &__small_header {
    display: block;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  &__search {
    display: none;

    @media (max-width: 1060px) {
      display: block;
      margin-top: 16px;
    }
  }

  &__recently_played {
    display: none;

    @media (max-width: $mobile-layout) {
      display: block;
      margin-top: 24px;
    }
  }

  &__jackpot-container {
    margin-top: 32px;
    display: flex;
    align-items: stretch;
    gap: 8px;
  }

  &__jackpot {
    display: block;
    flex-basis: calc(33% - 8px);
    flex-shrink: 1;
    flex-grow: 1;
  }

  &__winners {
    flex-basis: 66%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }

  &__tournaments-and-lottery {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 27px;
    @include media($desktop-layout) {
      display: flex;
      flex-direction: column;
    }
  }

  &__tournaments {
    display: flex;
    flex-direction: column;
  }

  &__lottery {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    @include media($desktop-layout) {
      padding-left: 0;
    }
  }

  &__tournament-cards {
    @include noscroll;
    display: flex;
    gap: 10px;
    @include media($desktop-layout) {
      overflow: scroll;
      flex-basis: 95%;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__lottery-cards {
    flex-grow: 1;

    .home_page__tl-card {
      height: 100%;
      width: 100%;
    }
  }

  &__tl-card {
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
    @include media($desktop-layout) {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 100%;
    }
  }

  &__divider {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
