<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="modal__form form-forgot-password">

  <div class="group">
    <input trim
           name="login"
           type="text"
           formControlName="login">
    <label>{{'forms.email' | translate}}</label>


    <div *ngIf="submitted && f.login.errors" class="error-bl">
      <div *ngIf="f.login.errors.required">{{'forms.required_to_fill' | translate}}</div>
      <div *ngIf="f.login.errors.email">{{'forms.email_is_not_correct' | translate}}</div>
    </div>

    <div *ngFor="let error_value of errors['login']" class="error-bl">{{ error_value }}</div>
  </div>


  <button [disabled]="loading" type="submit" class="forms-common__button button-large">
    {{'buttons.reset_password' | translate}}
  </button>

</form>
