@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_styles.scss";

.profile-password-form {

  &__inputs {
    background-color: $background-secondary;
    border-radius: 8px;
    padding: 1px 16px 16px;
    margin: 16px 0;

    .group {
      &:first-child {
        margin-top: 15px;
      }
      @media (min-width: $mobile-layout) {
        width: 344px;
      }
    }
  }

  &__tip {
    @extend .caption;
    color: $text-secondary;
    margin-top: 8px;
  }
}
