<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="profile-password-form">

  <div class="profile-password-form__inputs">

    <div class="group">
      <input trim
             class="form__password"
             name="currentPassword"
             type="password"
             formControlName="currentPassword"
             appPassword
             appPasswordClass="password-control">
      <label>{{'forms.current_password' | translate}}</label>

      <div *ngIf="submitted && f.currentPassword.errors" class="error-bl">
        <div *ngIf="f.currentPassword.errors.required">{{'forms.required_to_fill' | translate}}</div>
        <div *ngIf="f.currentPassword.errors.minlength">
          {{'forms.too_short' | translate: {value: f.password.errors.minlength.requiredLength} }}
        </div>
      </div>

      <div *ngFor="let error_value of errors['currentPassword']" class="error-bl">
        {{ error_value }}
      </div>
    </div>

    <div class="group">
      <input trim
             class="form__password"
             name="newPassword"
             type="password"
             formControlName="newPassword"
             appPassword
             appPasswordClass="password-control">
      <label>{{'forms.new_password' | translate}}</label>

      <div *ngIf="submitted && f.newPassword.errors" class="error-bl">
        <div *ngIf="f.newPassword.errors.required">{{'forms.required_to_fill' | translate}}</div>
        <div *ngIf="f.newPassword.errors.minlength">
          {{'forms.too_short' | translate: {value: f.password.errors.minlength.requiredLength} }}
        </div>
      </div>

      <div *ngFor="let error_value of errors['newPassword']" class="error-bl">
        {{ error_value }}
      </div>
    </div>

    <!-- Todo: pass via parameter SystemConfig.passwordMinLength -->
    <div class="profile-password-form__tip">{{'other.minlength' | translate}}</div>

  </div>

  <div class="form__button-holder">
    <button type="submit" class="form__continue-button">{{'buttons.change_password' | translate}}</button>
  </div>

</form>
