@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_styles.scss";
@import "src/assets/scss/_utils.scss";


.game-card {
  position: relative;
  width: 100%;
  height: 100%;

  &:hover, &:active, &:focus {
    .game-card__content {
      visibility: visible;
      opacity: 1;
      transition: visibility 1s 0s, opacity 0.1s linear;
    }

    .game-card__favorite {
      visibility: visible;
      opacity: 1;
      transition: visibility 1s 0s, opacity 0.1s linear;
    }
  }

  &__item-disallowed{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #dd1d1d;
    z-index: 2;
  }

  &.game-card-big {
    .game-card__content {
      padding: 72px 23px 40px;
      align-items: center;
      .game-card__top {
        .game-card__title {
          @extend .header4;
        }
      }
      .game-card__buttons {
        gap: 24px;
        flex-direction: column;
        .game-card__demo {
          @extend .subheader2;
          color: $text-primary;
        }
        .game-card__play {
          max-width: 81px;
          flex-grow: 0;
        }
      }
    }
    .game-card-big__provider {
      visibility: visible;
      opacity: 1;
      position: absolute;
      display: block;
      top: 12px;
      left: 12px;
      width: 52px;
      height: 24px;
      z-index: 1;
      img {
        max-width: 100%;
      }
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &__favorite {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    width: 100%;

    &::before {
      content: '';
      background: url("../../../assets/img/icons/favourite_off.svg") 50% 50% no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 8px;
      right: 8px;
    }

    &_on {
      visibility: visible;
      opacity: 1;

      &::before {
        background: url("../../../assets/img/icons/favourite_on.svg") 50% 50% no-repeat;
      }
    }
  }

  &__provider {
    visibility: visible;
    opacity: 1;
    position: absolute;
    display: block;
    top: 12px;
    left: 12px;
    width: 52px;
    height: 24px;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }

  &__content {
    position: absolute;
    background-color: rgba(0.035, 0.071, 0.133, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 10px;
    padding: 46px 10px 24px;
    justify-content: space-between;
    border-radius: 8px;
  }

  &__buttons {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &__top {
    display: -webkit-box;
    height: 48px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: center;

    .game-card__title {
      overflow: hidden;
      @extend .subheader1;
      color: #FFFFFF;
      -webkit-line-clamp: 2;
      @media (max-width: 430px) {
        display: none;
      }
    }

    .game-card__title-mobile {
      overflow: hidden;
      @extend .header4;
      color: #FFFFFF;
      -webkit-line-clamp: 1;

      &_columns {
        @media (min-width: 430px) {
          display: none;
        }
      }

    }
  }

  &__play {
    @extend .button-mini;
    box-sizing: content-box;
    display: inline-block;
    text-align: center;

    @media (max-width: $mobile-layout) {
      flex-grow: 1;
    }
  }

  &__demo {
    color: $text-primary;
    @extend .body2;
    padding: 8px 16px;
    font-weight: 700 !important;
    box-sizing: content-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $text-primary;
      text-decoration: none;
    }

    @media (max-width: $mobile-layout) {
      flex-grow: 1;
    }

    @media (max-width: 380px) {
      padding: 5px 8px !important;
    }
  }

  &__tags {
    justify-self: start;
    align-self: end;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  &__tag {
    display: table;
    color: $brand-secondary;
    @extend .caption;
    padding: 4px 8px;
    border-radius: 999px;
    margin-top: 8px;

    &_new {
      background-color: $accent-success;
    }

    &_popular {
      background-color: $accent-warning;
    }
  }
}
