<div class="page_content page_content-application">

	<app-subheader-l1 title="{{'project.how_install_app' | translate}}"></app-subheader-l1>

	<div class="application">

		<div class="application__block">
			<div class="application__header">
				<img class="application__header-img" alt="safari" src="assets/img/application/safari.svg">
				<div>{{'project.safari' | translate}}</div>
			</div>

			<ol class="application__list">
				<li>{{'project.open_jacktop' | translate}}</li>
				<li>{{'project.tap_share' | translate}}</li>
				<li>{{'project.scroll_down' | translate}}</li>
			</ol>

			<div class="application__image">
				<img alt="ios" src="assets/img/application/ios.svg">
			</div>
		</div>

		<div class="application__block">
			<div class="application__header">
				<img alt="chrome" class="application__header-img" src="assets/img/application/chrome.svg">
				<div>{{'project.chrome' | translate}}</div>
			</div>

			<ol class="application__list">
				<li>{{'project.android_open_jacktop' | translate}}</li>
				<li>{{'project.android_click_dots' | translate}}</li>
				<li>{{'project.android_install_app' | translate}}</li>
			</ol>

			<div class="application__image">
				<img alt="android" src="assets/img/application/android.svg">
			</div>
		</div>

	</div>

</div>