
@font-face {
    font-family: 'MyriadRoman';
    src: url('wmr_____-webfont.eot');
    src: url('wmr_____-webfont.eot?#iefix') format('embedded-opentype'),
         url('wmr_____-webfont.woff') format('woff'),
         url('wmr_____-webfont.ttf') format('truetype'),
         url('wmr_____-webfont.svg#MyriadRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}